body { 
  margin-top: 10px; 
  background-color: #FFFFF0;
 }
.centre{ 
padding: 35px; 
  background: #A2B5BF;
  justify-content: center;
  color: #375D81;
    -moz-border-radius:20px 0;
    -webkit-border-radius:20px 0;
    border-radius:20px 15px 20px 15px;
    margin-bottom: 30px;
    font-family: rokkit, cantarell, oswald, 'pt sans';

}
h1 {
  text-align: center;
  color: #375D81;
}
td img {
  width: 25px;
}
.jumbotron p {
  font-size: 1.3em;
  color: #375D81;
}
.jumbotron {
  margin-top: 3px;
  margin-bottom: 3px;
}

header{
  margin-left: 10px;
  margin-bottom: 20px;
  color: #375D81;
}

footer p
{
    font-size: 1.3em;
    padding: 35px; 
    background: #A2B5BF;
    color: #0174DF;
    border-style: ridge; 
    text-align: center;
    justify-content: center;
    color: #375D81;
    -moz-border-radius:20px 0;
    -webkit-border-radius:20px 0;
    border-radius:20px 15px 20px 15px;
    margin-bottom: 30px;
    font-family: rokkit, cantarell, oswald, 'pt sans';
}
